body {
  background-color: $color-gray-light;
  color: $color-black;
}

.box {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 3px 0 rgba(0,0,0,.12);
  padding: rem(20);
}

.ruler {
  border-top-color: #e5c08c;
  border-top-style: solid;
  border-top-width: 2px;
  display: inline-block;
  margin: 0 auto;
  width: 80px;
}

.ruler-wrapper {
  margin-bottom: rem(20);
  text-align: center;
  width: 100%;
}
