.intro-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(70);

  @include breakpoint(false, l) {
    flex-direction: column;
  }
}

.box__about-fund {
  flex-basis: 65%;
}

.box__timeline {
  flex-basis: 30%;

  @include breakpoint(false, l) {
    margin-top: rem(50);
  }
}

.intro-p {
  font-family: $font-serif;
  font-size: rem(20);
}

.box__full-width {
  background-color: $color-gray-light;
  padding-bottom: rem(70);
  padding-top: rem(70);
  width: 100%;
}

.box__grid-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;

  @supports (display: grid) {
    display: grid;
    grid-gap: rem(40);
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(m) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  li {
    display: flex;
    flex-direction: column;
  }
}

.item__header {
  font-family: $font-serif;
  font-size: rem(22);
  margin-bottom: 1rem;
  text-align: center;
}

.box__focus {

  .box__focus-intro {
    margin: 0 auto;
    margin-bottom: rem(50);
    max-width: rem(700);
    text-align: center;
  }
}

.box__list {

  > li {

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;
      margin-bottom: rem(20);
      padding-bottom: rem(20);
    }
  }
}

footer {
  background-color: $color-blue;
  color: $color-white;
  margin-top: rem(70);
  text-align: center;
  padding: rem(70);
  font-weight: 700;
  font-size: 1.25rem;
  
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.timeline__event {
  display: block;
}

.timeline__list {
  margin-bottom: rem(30);

  li {

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;
      margin-bottom: rem(10);
      padding-bottom: rem(10);
    }
  }
}

.box__full-width-img {
  background-attachment: fixed;
  background-image: url(../images/hero-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.box__bottom {
  padding-top: rem(70);
}

.timeline__event {
  font-weight: bolder;
}

.logo-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-gap: 30px;
  justify-content: space-around;
  margin-top: rem(50);

  @include breakpoint(m) {
    grid-template-columns: repeat(2, 150px);
  }

  @include breakpoint(l) {
    grid-template-columns: repeat(4, 250px);
  }
}

.logo-item {
  img {
    width: 100%;
  }

  // &:last-of-type {
  //   grid-row: 2;
  //   grid-column: 2;
  // }
}

.icon-download {
  background-image: url(../icons/icon-download.svg);
  width: 13px;
  height: 15px;
  display: block;
  margin-right: rem(5);
}

.download-pdf {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
